<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= I18n.t 'riddick.head.title', default: 'Welcome to Riddick!' %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if IE ]><meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"><![endif]-->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <link href="<%= url 'stylesheets/vendor/bootstrap.css' %>" media="all" rel="stylesheet" type="text/css">
  <link href="<%= url 'stylesheets/vendor/bootstrap-responsive.css' %>" media="all" rel="stylesheet" type="text/css">
  <link href="<%= url 'stylesheets/vendor/chosen.css' %>" media="all" rel="stylesheet" type="text/css">
  <link href="<%= url 'stylesheets/riddick.css' %>" media="all" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <a href="<%= root_url %>" class="brand"><%= I18n.t 'riddick.nav.brand', default: 'Riddick' %></a>
        <ul class="nav">
          <li class="<%= 'active' if request.path == root_url %>">
            <a href="<%= root_url %>"><%= I18n.t 'riddick.nav.all', default: 'All translations' %></a></li>
          <li class="<%= 'active' if request.path == my_url %>">
            <a href="<%= my_url %>"><%= I18n.t 'riddick.nav.my', default: 'My translations' %></a></li>
          <li class="<%= 'active' if request.path == default_url %>">
            <a href="<%= default_url %>"><%= I18n.t 'riddick.nav.default', default: 'Default translations' %></a></li>
        </ul>
      </div>
    </div>

    <!-- Form for posting new and changing existing translations. -->
    <form action="<%= set_url %>" method="post" class="form-horizontal well">
      <select name="k" data-chosen="chosen" data-for="textarea[name=v]"
          data-placeholder="<%= I18n.t 'riddick.form.select.placeholder', default: 'en.greeting' %>">
        <option></option>
        <% @translations.each do |k, v| %>
          <option value="<%= k %>" data-v='<%= v %>'><%= k %></option>
        <% end %>
      </select>
      <button type="submit" class="btn btn-success"><%= I18n.t 'riddick.form.button', default: 'Change' %></button><br />
      <textarea name="v" type="text"
          placeholder="<%= I18n.t 'riddick.form.textarea.placeholder', default: 'Hello World!' %>"></textarea>
    </form>

    <!-- Flash notifications. -->
    <% [:flash_success, :flash_error].each do |k| %>
      <% if v = session.delete(k) %>
        <div class="alert alert-<%= k.to_s.gsub 'flash_', '' %>"><%= v %></div>
      <% end %>
    <% end %>

    <!-- List of translations. -->
    <% if @translations.any? %>
      <table class="table table-striped">
        <tr>
          <th><%= I18n.t 'riddick.table.header.path', default: 'Path' %></th>
          <th><%= I18n.t 'riddick.table.header.translation', default: 'Translation' %></th>
          <th><%= I18n.t 'riddick.table.header.actions', default: 'Actions' %></th>
        </tr>
        <% @translations.each_pair do |k, v| %>
          <tr>
            <% if v.kind_of? Riddick::Backends::KeyValue::Value %>
              <!-- Details for custom translation. -->
              <td><span class="badge badge-success"><%= k %></span></td>
              <td><code>
                  <a rel="popover" data-title="<%= I18n.t 'riddick.table.popover.my', default: 'My translation' %>"
                    data-content='<%= v %>' data-trigger="hover"><%= truncate v %></a>
              </code></td>
              <td>
                <a href="#custom-translations" data-choose="<%= k %>" data-v='<%= v %>'
                  class="btn btn-mini"><%= I18n.t 'riddick.table.edit.my', default: 'Edit' %></a>
                <a href="<%= del_url k %>" data-confirm="<%= I18n.t 'riddick.table.confirm', default: 'Are you sure?' %>"
                  class="btn btn-mini btn-danger"><%= I18n.t 'riddick.table.delete', default: 'Delete' %></a>
              </td>
            <% else %>
              <!-- Details for default translation. -->
              <td><span class="badge"><%= k %></span></td>
              <td><code>
                <a rel="popover" data-title="<%= I18n.t 'riddick.table.popover.default', default: 'Default translation' %>"
                  data-content='<%= v %>' data-trigger="hover"><%= truncate v %></a>
              </code></td>
              <td>
                <a href="#custom-translations" data-choose="<%= k %>" data-v='<%= v %>'
                  class="btn btn-mini"><%= I18n.t 'riddick.table.edit.default', default: 'Edit' %></a>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    <% else %>
      <div class="alert alert-info"><%= I18n.t 'riddick.notice.empty', default: 'You have no translations yet.' %></div>
    <% end %>

    <div class="well"><a href="https://github.com/kostia/riddick">https://github.com/kostia/riddick</a></div>
  </div>

  <script src="<%= url 'javascripts/vendor/jquery.js' %>" type="text/javascript"></script>
  <script src="<%= url 'javascripts/vendor/chosen.js' %>" type="text/javascript"></script>
  <script src="<%= url 'javascripts/vendor/bootstrap.js' %>" type="text/javascript"></script>
  <script src="<%= url 'javascripts/riddick.js' %>" type="text/javascript"></script>
</body>
</html>
